* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Main Style */
.d-flex {
    display: flex;
}
.j-content-between {
    justify-content: space-between;
}
.a-center {
    align-items: center;
}
body {
    height: 100vh;
    background-color: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 850px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 25px;
}
.container h2 {
    margin-bottom: 10px;
}
.tools {
    border: 1px solid #ccc;
    padding: 15px 20px;
    width: 300px;
    border-radius: 3px;
}
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.opt-btn {
    width: calc(100% / 2 - 4px);
    height: 40px;
    margin: 8px 0;
    border: none;
    color: #6c757d;
    border: 1px solid #aaa;
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}
.opt-btn.active {
    background-color: #5372f0;
    color: white;
    border: 1px solid #5372f0;
}
.brightness {
    margin: 10px 0;
}

.brightness input {
    width: 100%;
    accent-color: #5372f0;
    height: 5px;
}

.rotate-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.rotate-btns button {
    width: calc(100% / 4 - 4px);
    height: 40px;
    border: none;
    background-color: #fff;
    border: 1px solid #aaa;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotate-btns button i {
    font-size: 16px;
}
/* Preview */
.preview {
    width: 570px;
    margin-left: 10px;
}
.preview img {
    width: 100%;
    height: 100%;
}

.footer {
    margin: 10px 0;
}

.footer button {
    padding: 11px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.footer .reset-btn {
    border: 1px solid #aaa;
    background-color: #fff;
    color: gray;
}

.footer .choose-btn {
    background-color: #666;
    color: white;
}

.footer .save-btn {
    background-color: #5372f0;
    color: white;
}

@media screen and (max-width:768px) {
    .container {
        padding: 25px;
    }
    .editor-content {
        flex-direction: column-reverse;
    }
    .tools {
        width: 100%;
    }
    .preview {
        width: 100%;
        margin: 5px 0px 10px 0px;
    }
}

@media screen and (max-width:568px) {
    .footer {
        flex-direction: column;
    }
    .footer button {
        width: 100%;
        margin: 10px 0;
    }
}